use flake . -L
dotenv_if_exists
export GIT_COMMITTER_NAME="hiroqn"
export GIT_COMMITTER_EMAIL="909385+hiroqn@users.noreply.github.com"
export GIT_AUTHOR_NAME="hiroqn"
export GIT_AUTHOR_EMAIL="909385+hiroqn@users.noreply.github.com"
