[user]
	name = hiroqn
	email = hiroqn1008@gmail.com
	signkey = C3BF7281D87D87084E332DDC4F22B8FA3412D901
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
